@page
@model Zadanie3NET.Pages.FizzbuzzDB.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Fizzbuzz</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Fizzbuzz.Id" />
            <div class="form-group">
                <label asp-for="Fizzbuzz.Input" class="control-label"></label>
                <input asp-for="Fizzbuzz.Input" class="form-control" />
                <span asp-validation-for="Fizzbuzz.Input" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fizzbuzz.Output" class="control-label"></label>
                <input asp-for="Fizzbuzz.Output" class="form-control" />
                <span asp-validation-for="Fizzbuzz.Output" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fizzbuzz.Time" class="control-label"></label>
                <input asp-for="Fizzbuzz.Time" class="form-control" />
                <span asp-validation-for="Fizzbuzz.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
