@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <h1 class="text-center display-4 mt-3">Podaj liczbę</h1>
    <div class="row justify-content-center">
        <div class="col-sm-4 mt-4">
            <input type="text" asp-for="Fizzbuzz.Input" class="form-control" required />
            <span asp-validation-for="Fizzbuzz.Input" class="text-danger"></span>
        </div>
    </div>
    
    <div class="row mt-4 text-center justify-content-center">
        <button type="submit" class="btn btn-primary">Zatwierdź</button>
    </div>
</form>
<h2 class="text-center mt-4">@ViewData["result"]</h2>