@page
@model Last_ResultModel
@{
    ViewData["Title"] = "Session";
}

<h1 class="display-4">Ostatni Fizzbuzz</h1>
@if (Model.Fizzbuzz != null)
{
    <p>Liczba: @Model.Fizzbuzz.Input</p>
    <p>Otrzymano: @Model.Fizzbuzz.Output</p>
    <p>Data: @Model.Fizzbuzz.Time</p>
}


